<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin login</title>
</head>
<body>
    <form id="adminForm" onsubmit="admin_login(event)">
        <input name="username" required placeholder="Admin username">
        <input type="password" name="password" required placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <div id="response"></div>

    <script>
    async function admin_login(e) {
      e.preventDefault();

      const form = new FormData(document.getElementById("adminForm"));

      const res = await fetch("/admin/login", {
        method: "POST",
        body: form
      });

    const data = await res.json();

    if (!res.ok) {
        document.getElementById("response").innerText = data.detail;
        return;
    }

    localStorage.setItem("admin_token", data.token);
    window.location.href = data.url;
    }
    </script>

</body>
</html>